.user_block {
    display: flex;
    width: 400px;
    margin-top: 20px;
    justify-content: space-between;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid black;

}

.span {
    font-weight: 900;
    font-size: 30px;
    text-shadow: 5px 5px 5px #808080;
}

.count {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center

}

.box {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 0 auto;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;

}

.name {
    font-size: 23px;
    font-weight: 900;
}

.location {
    display: flex;
    flex-direction: column;

    align-items: flex-end;


}

.location_city {
    font-size: 16px;
    font-style: italic;
}

.location_country {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
}

.photo {
    display: flex;
    padding: 5px;

    max-width: 230px;

}

.photo span {
    margin-left: 10px;
}
.loader {

    display:flex;
    justify-content:center;
    align-items: center;
    height: 100%
}


