* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
		'h h '
		'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    /*background: rgb(8, 121, 17);*/
    /*background: linear-gradient(160deg, rgba(8, 121, 17, 0.45) 14%, rgba(4, 7, 136, 0.45) 30%, rgba(121, 9, 109, 0.45) 45%, rgba(172, 173, 4, 0.45) 60%, rgba(38, 148, 209, 0.45) 71%, rgba(255, 0, 74, 0.4514180672268907) 92%);*/
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 70%);
    /*    background-image: linear-gradient( 90.5deg,  rgba(255,207,139,0.50) 1.1%, rgba(255,207,139,1) 80.3% );*/
    /*}*/
}





