.dialogs {
    display: grid;

    grid-template-columns: 2fr 8fr;
    max-width: 100vh;
    /*justify-content: space-between;*/

}

.dialogs_item {
    /*border-right: 2px solid black;*/
    /*padding-right: 30px;*/
    padding: 20px;
}

.messages {
    border-left: 2px solid black;

    padding: 20px;
}

.dialog {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

.message {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 500;

}

.active {
    color: #ff29d1
}

.addBox {
    position: relative;
    bottom: 0

}

.btn_grad {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff 51%, #ff6e7f 100%)
}

.btn_grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn_grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}